.Markdown-root blockquote {
  padding-left: 8px;
  border-left: 4px solid #c7c7c7;
}

.Markdown-root table {
  border-collapse: collapse;
}

.Markdown-root thead {
  border-bottom: 2px solid grey;
  border-top: 1px solid #e0e0e0;
}

.Markdown-root td,
.Markdown-root th {
  padding: 8px;
}

.Markdown-root tbody > tr {
  border-top: 1px solid #c7c7c7;
}

.Markdown-root tbody > tr:nth-child(2n+1) {
  background: #f5f4f4;
}

.Markdown-root .nodeDebug {
  background: #efefef;
  padding: 8px;
  border: 1px solid #cccccc;
}

.Markdown-root .infobox {
  border-radius: 3px;
  margin: 16px;
  padding: 8px;
  min-height: 64px;
}

.Markdown-root .infobox:before {
  font-size: 48px;
  line-height: 48px;
  float: left;
  display: block;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  text-align: center;
}

.Markdown-root .infobox > p:last-child {
  margin-bottom: 0;
}

.Markdown-root .info {
  background: #ededff;
  border: 1px solid #8080c0;
}

.Markdown-root .info:before {
  content: '🛈';
  font-family: sans-serif;
  color: #9393c7;
}

.Markdown-root .warning {
  background: #ffffed;
  border: 1px solid #c8ca47;
}

.Markdown-root .warning:before {
  content: '⚠';
  font-family: sans-serif;
  color: #dde000;
}

/* Syntax highlighting */

/* Tomorrow Theme */
.hljs .hljs-comment,
.hljs .hljs-title {
  color: #8e908c;
}

.hljs .hljs-variable,
.hljs .hljs-attribute,
.hljs .hljs-tag,
.hljs .hljs-regexp,
.hljs .hljs-ruby .constant,
.hljs .hljs-xml .tag .title,
.hljs .hljs-xml .pi,
.hljs .hljs-xml .doctype,
.hljs .hljs-html .doctype,
.hljs .hljs-css .id,
.hljs .hljs-css .class,
.hljs .hljs-css .pseudo {
  color: #c82829;
}

.hljs .hljs-number,
.hljs .hljs-preprocessor,
.hljs .hljs-built_in,
.hljs .hljs-literal,
.hljs .hljs-params,
.hljs .hljs-constant {
  color: #f5871f;
}

.hljs .hljs-class,
.hljs .hljs-ruby .hljs-class .hljs-title,
.hljs .hljs-css .hljs-rules .hljs-attribute {
  color: #eab700;
}

.hljs .hljs-string,
.hljs .hljs-value,
.hljs .hljs-inheritance,
.hljs .hljs-header,
.hljs .hljs-ruby .hljs-symbol,
.hljs .hljs-xml .hljs-cdata {
  color: #718c00;
}

.hljs .hljs-css .hljs-hexcolor {
  color: #3e999f;
}

.hljs .hljs-function,
.hljs .hljs-python .hljs-decorator,
.hljs .hljs-python .hljs-title,
.hljs .hljs-ruby .hljs-function .hljs-title,
.hljs .hljs-ruby .hljs-title .hljs-keyword,
.hljs .hljs-perl .hljs-sub,
.hljs .hljs-javascript .hljs-title,
.hljs .hljs-coffeescript .hljs-title {
  color: #4271ae;
}

.hljs .hljs-keyword,
.hljs .hljs-javascript .hljs-function {
  color: #8959a8;
}

.hljs {
  display: block;
  background: #fbfbfb;
  color: #4d4d4c;
  font-family: Menlo, Monaco, Consolas, monospace;
  line-height: 1.25;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 3px;
}
