.QuoteView-blockquote {
  font-size: 1.5rem;
  padding: 1rem;
  background: #f8eded;
  border: #888888;
  border-radius: 8px;
  color: #111111;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}